<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This is a website created by Rose Whitt!</p>
        <img src="https://media.giphy.com/media/3og0IQpP3VXGCQ4HwQ/giphy.gif">
    </body>
</html>
