<!DOCTYPE html>
<html>
    <head>
        <title>Info</title>
    </head>
    <body>
        <h1>Info</h1>
        <h2>This website is dedicated to gifs!</h2>
        <img src="https://techcrunch.com/wp-content/uploads/2015/06/gifgif.gif?w=730&crop=1">
        <h1>This is the directory for this website</h1>
    </body>
</html>
